@media (max-width: 500px) {
  #nav-bar,
  #about,
  #jobinfo,
  #certificate,
  #project,
  #footer,
  #cc-gt,
  .du-an-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  #navbar ul {
    display: block;
  }
  #nav-bar li a {
    display: block;
    text-align: left;
  }
  section > .container {
    width: 100%;
    margin: auto;
    display: block;
  }
  #navbar ul li:nth-child(3) {
    display: none;
  }
  #bggrey {
    grid-template-columns: 1fr;
  }
  #target,
  #personal-info {
    padding: 30px;
    margin: 0;
  }
  #bggrey .section-title,
  #bggrey .info {
    padding-left: 0;
    margin-left: 0 !important;
  }
  .cchi {
    float: left !important;
    padding: 0 !important;
  }
  .du-an-container {
    grid-gap: 50px;
  }
}
